#parametres {
    background-color: rgba(96, 116, 231 , 0.5);
    height: 500px;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 0 1px
}

#row_dash {
    margin-top: 15px;
    max-height: 100%;
    max-width: 100%;
}